<%-include('extensions/header.ejs')%>
<br>
<br>
<br>
<br>
<div class="container">
  
    <form method="POST" action="/register">
      <% if (message){%>
      <div class="alert alert-danger">
        <%= message %>
      </div>
      <% } %>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form3Example1" name="firstname" class="form-control" placeholder="Firstname"/>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form3Example2" name="lastname" class="form-control" placeholder="Lastname"/>
            </div>
          </div>
        </div>
      
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form3Example3" name="email" class="form-control" placeholder="Email address"/>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form3Example4" name="password" class="form-control" placeholder="Password" />
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>or sign up with:</p>
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
      
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
      
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
      
          <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>
    
</div>
<%-include('extensions/footer.ejs')%>